.Skill-content{
    display: flex;
    justify-content: flex-start;
    text-align: left;
    padding: 45px 70px 40px 40px;
}
.skill-left{

}
.left-head{
    color: #7b88a8;
    font-size: 17px;
    margin-bottom: 8px;
    margin-top: 100px;
    
}
.left-text{

   
    margin-right: 250px;
    font-size: 20px;
    font-weight: 200;
    margin-bottom: 100px;
}
.skill-right{

}
.right-head{
    color: #7b88a8;
    font-size: 17px;
    margin-bottom: 8px;
    margin-top: 100px;
  
}
.rigt-text{
    width: 300px;
    font-size: 20px;
    font-weight: 200;
    margin-bottom: 100px;
}