.pic-content{
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 20px;
    height: 500px;
    margin-bottom: 15px;
}
.img1{
    width: 25%;
    border-radius: 15px;
    object-fit: cover;
}
.img2{
    width: 50%;
    border-radius: 15px;
    object-fit: cover;
}
.img3{
 width: 25%;
 border-radius: 15px;
object-fit: cover;
}